<h1>Uptime Monitoring</h1>
<h2>Made simple</h2>



<div class="blurb">
    We offer free simple uptime monitoring for HTTP/HTTPS sites of all kinds. When your site goes down, we will send you a text to let you know.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, sapiente, iste id alias commodi blanditiis officia itaque eum dicta tenetur repudiandae explicabo accusantium provident unde? Esse aliquid necessitatibus vitae possimus?
</div>

<div class="ctaWrapper">
    <a href="account/create" class="cta green">Get Started</a> 
    <a href="session/create" class="cta blue">Login</a> 
</div>